services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.django
    container_name: django_web
    env_file:
      - .env.prod
    expose:
      - "8000"
    volumes:
      - static_volume:/code/staticfiles  # ← collectstaticの出力先
    command: gunicorn app.wsgi:application --bind 0.0.0.0:8000 --workers 3
    restart: unless-stopped

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/usr/share/nginx/html/static  # ← 同じvolumeを参照
    depends_on:
      - web
    restart: unless-stopped
volumes:
  static_volume: