services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.django
    container_name: django_web
    env_file:
      - .env.prod
    expose:
      - "8000"
    command: gunicorn app.wsgi:application --bind 0.0.0.0:80 --workers 3
    restart: unless-stopped

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: nginx
    ports:
      - "80:80"
    # volumesは削除（静的ファイルはイメージに焼き込まれているため不要）
    depends_on:
      - web
    restart: unless-stopped