{# templates/404.html #}
{% load static %}

<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>404 Not Found</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body style="background-color: #FFC94314; color: #FFC943;">
    <main class="container py-5 text-center">
        <h1 class="fw-bolder fs-1">404</h1>
        <h3 class="fw-bold fs-3">NotFound</h3>

        <img src="{% static 'img/errors/404.png' %}" alt="なにか探しているうさぎちゃん" class="img-fluid"
            style="max-width: 300px; margin-inline: auto;">

        <p>ご指定のページが見つかりません。</p>

        <div class="d-grid gap-2 justify-content-center">

            <a href="{% url 'goals:home' %}" class="btn btn-outline-warning" style="
                --bs-btn-color: #564533;
                --bs-btn-border-color: #FFC943;
                --bs-btn-bg: #FFFFFF;
                --bs-btn-hover-color: #564533;
                --bs-btn-hover-border-color: #FFC94314;
            ">
                ホームに戻る
            </a>

            <button type="button" class="btn btn-outline-warning" onclick="history.back()" style="
                --bs-btn-color: #564533;
                --bs-btn-border-color: #FFC943;
                --bs-btn-bg: #FFFFFF;
                --bs-btn-hover-color: #564533;
                --bs-btn-hover-border-color: #FFC94314;
            ">
                前のページに戻る
            </button>

        </div>
    </main>
</body>

</html>