.moon-tab {
    width: 82px;
    height: 82px;
    border-radius: 10px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:  #6c757d;
    font-weight: normal;
    border: none;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white) !important;
}

.page-content {
    background-color: var(--white);
    margin: 0 13px;
}

.goal-item {
    flex: 1 1 auto !important;
    width: 100%;
    position: relative;
    background-color: #FFF4CF;  /* 柔らかい黄色 */
    border-radius: 12px;
    padding: 13px 14px 13px 18px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    overflow: hidden;
}

.goal-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #FFD75F;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* チェックアイコン */
.goal-item form img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    flex-shrink: 0;
}

/* 月 */
.goal-item p {
    margin: 0 8px 0 0;
    color: var(--brown);
    flex-shrink: 0;
}

/* タイトル */
.goal-item h3 {
    margin: 0;
    font-size: 15px;
    color: var(--brown);
    word-break: break-word;
    text-align: left;
}

.goal-item a {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.goal-item form,
.goal-item p {
    flex-shrink: 0;
}
